.captcha-container {
  display: inline-block;
  width: 360px;
  height: 600px;
  margin: 20px;
  margin-left: 30%;
  background: transparent;
  box-shadow: 0 0 10px rgb(239, 237, 237);
  border-radius: 10px;
}

.bgImage{
  background-image: url("../../../assets/bgImage.webp");
}
.captcha-container mat-card-title{
 text-align: center;
 color: beige;
 font-size: xx-large;
 font-weight: bolder;
 margin: 20px;
}
form mat-form-field{
  margin-left: 20%;
}
.captcha-characters {
  font-size: 24px;
  font-weight: bold;
  width: 100px;
  height: 30px;
  color:whitesmoke;  margin-left: 100px; font-size: xx-large;
}

@media only screen and (max-width: 485px) {
  .captcha-container {
    display: inline-block;
    width: 240px;
    height: 500px;
    margin: 20px;
    margin-left: 17%;
    background: transparent;
    box-shadow: 0 0 10px rgb(239, 237, 237);
    border-radius: 10px;
  }
  .captcha-container mat-card-title{
    text-align: center;
    color: beige;
    font-size: large;
    font-weight: bolder;
    margin: 10px;
   }
   form mat-form-field{
    margin-left: 8%;
  }
  .captcha-characters {
    font-size: 16px;
    font-weight: bold;
    width: 60px;
    height: 20px;
    color:whitesmoke;  margin-left: 60px; font-size: larger;
  }
}

@media only screen and (min-width: 485px) and (max-width: 989px) {
  .captcha-container {
    display: inline-block;
    width: 300px;
    height: 500px;
    margin: 20px;
    margin-left: 20%;
    background: transparent;
    box-shadow: 0 0 10px rgb(239, 237, 237);
    border-radius: 10px;
  }
  .captcha-container mat-card-title{
    text-align: center;
    color: beige;
    font-size: larger;
    font-weight: bolder;
    margin: 15px;
   }
   form mat-form-field{
    margin-left: 10%;
  }
  .captcha-characters {
    font-size: 20px;
    font-weight: bold;
    width: 80px;
    height: 25px;
    color:whitesmoke;  margin-left: 80px; font-size: larger;
  }
}
@media only screen and (min-width: 985px) {
  .captcha-container {
    display: inline-block;
    width: 360px;
    height: 500px;
    margin: 20px;
    margin-left: 30%;
    background: transparent;
    box-shadow: 0 0 10px rgb(239, 237, 237);
    border-radius: 10px;
  }
}





