
<div class="bgImage">
  <mat-card class="captcha-container">
    <mat-card-title>Update Password</mat-card-title>
    <form action="" [formGroup]="updateform">
        <mat-form-field appearance="fill">
            <mat-label>Enter Your Password </mat-label>
            <input matInput type="text" formControlName="newPass"><br>
           
            <mat-hint *ngIf="!newPass?.valid&& newPass?.dirty">Invalid password</mat-hint>
            <mat-hint *ngIf="!newPass?.valid&& newPass?.dirty">Must Be 5-15 Letter</mat-hint>
            <mat-error *ngIf="newPass?.errors?.['required']">New Password is required</mat-error>
        </mat-form-field><br>
        <p style="color: whitesmoke; margin-left: 50px;">Enter the characters shown below:</p>
        
          
          <p style="color: whitesmoke;" class="captcha-characters">{{ captchaCharacters }}</p>
       
           
         <mat-form-field appearance="fill">
            <mat-label>captcha</mat-label>
            <input matInput  [(ngModel)]="userInput" placeholder="Enter the characters" formControlName="captcha"><br>
            <mat-error *ngIf="captcha?.errors?.['required']">captcha is required</mat-error>
          </mat-form-field><br>
         <p class="captcha-status" style="color: rgb(218, 210, 210); margin-left: 30px;">{{ captchaStatus }}</p>
         <button style="color: rgb(17, 15, 15); margin-left: 50%;"  mat-raised-button type="submit" value="LOGIN"  class="sub" (click)="updatePassword()" [disabled]="updateform.invalid" ><span class="signIn">Update</span></button><br>
             
    </form>
   
  </mat-card>
</div>
<hr>
