<footer >
    <!-- <pagination-controls (pageChange)="p = $event" style="margin-left: 600px ;"></pagination-controls> -->
    <ul class="menu" >
            <li><button mat-raised-button style="background: transparent;"  (click)="home()"  >Home</button></li>
            <li><button mat-raised-button style="background: transparent;"(click)="about()" >About</button></li>       
            <li><button mat-raised-button style="background: transparent;"  (click)="contact()">Contact Us</button></li>
    </ul>
    <img  src="../../../assets/moviebaground.jpeg" style="width: 12%; margin-left: 40px;height:150px;"  alt="img"> 
        <br>
        
        
        <div class="footer-copyright">
            <p>Copyright @ 2023 All Rights Reserved.</p>




            
            <p>
              <i class="far fa-envelope gmail-icon"   ></i>
              <i class="fab fa-whatsapp whatsapp-icon"  style="padding-left: 10px;"></i>
              <i  class="fab fa-facebook-square facebook-icon"  style="padding-left: 10px;"></i> 
              <i class="fab fa-instagram instagram-icon"  style="padding-left: 10px;"></i> 
              <i class="fab fa-youtube youtube-icon" style="padding-left: 10px;"></i>
              <i class="fab fa-twitter twitter-icon"  style="padding-left: 10px;"></i>
              <i class="fab fa-github github-icon" style="padding-left: 10px;"></i>
              <i class="fab fa-linkedin linkedin-icon" style="padding-left: 10px;"></i>
          </p>
          </div>
        
  </footer> 
