<ng-container *ngIf="favoriteMovieList.length!=0">
  


  <div class="h1Title">
    <h1 style="margin-left: 10px;">Favourites Movies</h1>
    <h1 class="number" matTooltip="No of Movies in FavList">No of Movies In Your FavList =  {{favoriteMovieList.length}}</h1>
    </div>
<div class="example-card-grid">
 
  <mat-card class="example-card" *ngFor="let x of favoriteMovieList  | paginate: { itemsPerPage: count, currentPage: p }">
   
    <img mat-card-image src="https://image.tmdb.org/t/p/w185/{{x.poster_path}}"(click)="getVideo(x)" matTooltip="To Watch Trailer Click On Image" >
    <mat-card-footer>
      <h4 class="h4c">{{x.title || x.name}}</h4>
      <div style="display: flex;">
        <mat-icon  class="icon-border"(click)="deleteMovieFromFavouriteList(x.id)"
        matTooltip="Click To remove From FavList"
       >delete</mat-icon>
     <button style="margin-left: 10px;color:black"mat-button  class="btn bg-transparent" (click)="openDialog(x)" matTooltip="Click To Get Movie Info">MovieInfo</button>
      <p [ngClass]="{
        'vote-high': x.vote_average > 7,
        'vote-medium': x.vote_average >= 5 && x.vote_average <= 7,
        'vote-low': x.vote_average < 5
      }">{{x.vote_average}} </p>
      </div>
      </mat-card-footer>
  </mat-card>
</div>


</ng-container >
<ng-container *ngIf="favoriteMovieList==null || favoriteMovieList.length==0 || favoriteMovieList==undefined">
  <div class="empty-favorites">
    <h1>Your favorite movies list is empty</h1>
    <p>Do you want to add movies?</p>
    <button mat-raised-button (click)="navigateToDashboard()">Navigate to Dashboard</button>
  </div>
</ng-container><hr>
<pagination-controls (pageChange)="p = $event" style="margin-left: 600px ;"></pagination-controls>



  <div class="gray-box">
    <div id="mySidenav" class="sidenav" >
      <a id="top" (click)="navigateTORecommendedMovies()" >Recommended Movies</a>
    </div> 
     </div>
     
   