
<div class="container" >
  <button mat-button style="color: red;" [routerLink]="['/home']" routerLinkActive="router-link-active"><mat-icon style="color: red;">arrow_back</mat-icon>Back</button>
    <h1 class="h1">Contact Us</h1>
  
    <p>We would love to hear from you! If you have any questions, feedback, or inquiries, please feel free to reach out to us using the contact information provided below.</p>
  
    <p>
        <i class="far fa-envelope gmail-icon" style="padding-right: 10px;"></i>
        <a href="mailto:raghavendrasingh05061998@gmail.com">raghavendrasingh05061998@gmail.com</a>,
        <a href="mailto:ashwini.tune@gmail.com">ashwani.city@gmail.com</a>,
        <a href="mailto:prashantltp98@gmail.com">prashantltp98@gmail.com</a>
      </p>
      
    <p class="p"><i class="fab fa-whatsapp whatsapp-icon" style="padding-right: 10px;"></i> 9901530440, 7870241456, 8429464468</p>
    <!-- <p >
      <i class="fab fa-facebook-square facebook-icon" ></i>
      <i class="fab fa-instagram instagram-icon" style="padding-left: 10px;"></i>
      <i class="fab fa-youtube youtube-icon" style="padding-left: 10px;"></i>
      <i class="fab fa-twitter twitter-icon" style="padding-left: 10px;"></i>
      <i class="fab fa-github github-icon" style="padding-left: 10px;"></i>
      <i class="fab fa-linkedin linkedin-icon" style="padding-left: 10px;"></i>
    </p> -->
  
    <!-- <p>Our dedicated team is available to assist you and provide any assistance you may need. Whether you have a query about our movie selection, need technical support, or have suggestions to improve your experience, we are here to help.</p> -->
    <p>Please note that our customer support is available during regular business hours, and we will make every effort to respond to your inquiries as soon as possible. However, response times may vary depending on the volume of requests received.</p>
    <p>We value your feedback and strive to provide exceptional service to our valued CINΣ_PLUS community. Your satisfaction is our top priority, and we appreciate your patience and understanding.</p>
    <p>Thank you for choosing CINΣ_PLUS. We look forward to connecting with you and providing an unforgettable cinematic experience.</p>
    <p>Lights, camera, action!</p>
    <!-- <button mat-button style="color: red;" (click)="relodePage()">Back</button> -->
  </div><hr>

  